# Node / NPM cruft.
/node_modules
npm-debug.log

# New yarn cruft.
/.yarn/*
!/.yarn/cache
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

# Mac cruft.
.DS_Store

# Emacs cruft
.projectile

# VSCode cruft.
/.vscode

# Actual project stuff to ignore.
/dist
/public/**/*.mp3
/server/.ruby-*
/server/index
/server/.bundle
/server/vendor
