@import "~normalize.css";

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.15;
$text-color: black;
$link-color: black;
$link-hover-color: darkgray;
$link-hover-decoration: underline;

html {
    font-size: 10px;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

div#murker-root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;

    div {
        display: flex;
    }

    #nav-bar {
        flex: 0 1 auto;
        a {
            color: lightgray;
            padding: 0.5em;
            border: 1px solid darkgreen;

            &:hover, &:focus {
                color: darkgray;
            }
        }
    }

    #main {
        flex: 1 1 auto;
    }

    #player {
        flex: 0 1 auto;
    }

    .modal-container {
        flex: 1 1 auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .modal-outer-window {
        flex: 0 1 auto;
        background-color: tan;
        padding: 1em;
    }

    .modal-inner-window {
        flex: 1 1 auto;
        flex-flow: column;
        background-color: white;
        border: 1px solid black;
        padding: 1em;
        color: black;
    }

    .song-result {
        flex: 0 1 auto;
    }
}
