body {
    margin: 0;
    padding: 0;
    color: white;
}

div#murker-root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
}

div#murker-root div {
    display: flex;
}

div#nav-bar {
    flex: 0 1 auto;
}
